[submodule "backend"]
	path = backend
	url = https://github.com/Jaiderin123/software-colombia-technical-test-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Jaiderin123/software-colombia-technical-test-frontend.git
